@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Work+Sans:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}

header {
    color: white;
    background-color: #74C69D;
    height:75.90vh;
    padding:0 8.33vw !important;
    

}

h1,
h2 {
    
    font-family: 'Crimson Text', serif;
}

h1,h2,h3 {margin-top: 0; }

h1 {
    font-size: 40px;
    vertical-align: top;
 
}

h1,
h3,
header p {
    line-height: 125%;
}

header p {
    font-size: 15px;
    color: rgba(255,255,255, 0.75);
}

h3 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;




}


header > div { height: 100%;}
header a {
   
    font-size: 20px;
    width: 37.5%;
    background-color:white;
    display: block;
    text-align: center;
    padding: 11.5px 0;
    border-radius:5px;

}

main > div {  height: 30vh;}


@media (max-width: 768px) {

header { 
    
   
    height: auto;
    padding:40px !important;




}





}



